/* 함초롱돋움 폰트 */
@font-face {
  font-family: 'HCRDotum';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/HCRDotum.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.top-btn-wrapper a img {
    opacity: 80%;
  width: 85px;
}


.hero {
  background: url('../img/sub-hero-img.jpg');
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.overlay {
  height: 70vh;
  background: linear-gradient(270deg, rgba(1, 1, 1, 0.4), transparent);
}

.section-title-container {
  margin: 0;
  padding: 100px 0 60px;
}

.section-title-container h2 {
  font-size: 55px;
  color: #706c6c;
}

.section-title-container img {
    width: 40px;
}

.reservation-wrapper {
  display: flex;
  justify-content: center;
  padding: 0 7%;
}

.reservation-btn {
  display: none;
}

#reserve {
  margin: 0 auto;
  margin-bottom: 200px;
  max-width: 1680px;
  width: 100%;
}

#reserve .line-add {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60vw;
  margin: 0 auto;
  border-bottom: 1px solid #959292;
  transition: all 0.3s;
  max-width: 1680px;
}

#reserve h2.dateTitle {
  font-size: 28px;
  position: relative;
  font-weight: 500;
  font-family: 'HCRDotum';
}

#reserve img {
  margin-right: 20px;
}

#reserve input {
  display: none;
}

#reserve label {
  width: 60vw;
  padding: 20px;
  font-size: 28px;
  cursor: pointer;
  position: relative;
  color: rgb(112, 108, 108);
}

#reserve .line-add:hover {
  border-bottom: 3px solid green;
}

#reserve .line-add.isGreen {
  border-bottom: 3px solid green;
  width: 80vw;
}

#reserve .exersise {
  display: none;
}

#reserve .explain {
  display: none;
}

#reserve .isBlock {
  display: block;
  width: 90%;
}

#reserve label span {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 0.7em;
}

/* calendar */
.exersise {
  margin: 0 auto;
}

.exersise .dateHead div {
  background: #ccc;
  color: #222;
  text-align: center;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1.1em;
  font-family: 'HCRDotum';
}

.exersise .grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
}

.exersise .grid div {
  padding: 0.6rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.exersise .dateBoard div {
  color: #222;
  font-weight: bold;
  min-height: 1.2rem;
  padding: 0.6rem 0.6rem;
  border-radius: 5px;
  border: 1px solid #eee;
  text-align: center;
}

.exersise .noColor {
  background: #eee;
}

.exersise .changeBg {
  background: #9b9b9b;
}

.exersise .header {
  display: flex;
  padding: 120px 0 70px;
  justify-content: center;
  align-items: center;
  gap: 50px;
  position: relative;
  /* padding: 1rem 2rem; */
}

.exersise .btn {
  display: block;
  width: 20px;
  height: 20px;
  border: 3px solid #000;
  border-width: 3px 3px 0 0;
  cursor: pointer;
}

.exersise .prevDay {
  transform: rotate(-135deg);
  /* position: absolute; */
  left: 0;
}

.exersise .nextDay {
  transform: rotate(45deg);
  /* position: absolute; */
  right: 0;
}

.exersise .rap {
  /* max-width: 300px; */
  padding: 0 0.14rem;
  /* margin: 0 auto; */
  /* margin-top: 1.4rem; */
  width: 60%;
  margin-right: 30px;
}

.exersise .dateHead {
  margin: 0.4rem 0;
}

/* resev */
.reservation_block {
  border: 1px solid #959292;
  /* margin: 20px auto; */
  /* max-width: 300px; */
  width: 40%;
  border-radius: 10px;
}

.reservation_block h3 {
  margin: 14px 0 14px 20px;
}

.reservation_block h3 span {
  padding: 4px;
  font-family: 'HCRDotum';
  color: #222;
}

.reservation_block h3 span:first-child {
  color: red;
}

.reservation_block>button {
  display: block;
  width: 90%;
  margin: 20px auto;
  background-color: rgba(56, 130, 105, 0.32);
  color: #686b6e;
  border: none;
  border-radius: 5px;
  padding: 20px;
}

.reservation_block button .fa-solid.fa-check {
  color: green;
  margin-left: 8px;
  font-size: 18px;
  font-weight: 700;
}

.time {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 150px;
}

.time>button {
  padding: 12px;
  border-radius: 5px;
  background-color: white;
  margin: 4px auto;
  border: 1px solid black;
  text-align: left;
  width: 90%;
  display: flex;
  gap: 4px;
}

/* 상세설명 */
.explain {
  margin: 0 auto;
  max-width: 1680px;
  padding: 0 7%;
}

.explain .tap {
  display: flex;
  justify-content: center;
  font-family: 'HCRDotum';
}

.explain .tap li {
  cursor: pointer;
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 5% 5% 0 0;
  text-align: center;
  padding: 2%;
  margin: 2% 0;
  font-size: 25px;
  color: rgb(112, 108, 108);
  position: relative;
}

.explain .tap li.active {
  border-bottom: 4px solid green;
}

.explain .tap li svg {
  position: absolute;
  top: 50%;
  right: 25%;
  transform: translateY(-50%);
  visibility: hidden;
  width: 40px;
}

.explain .tap li svg.activeSv {
  visibility: visible;
}

/* 내용 */
.tap_container .tab_content {
  display: none;
  font-family: 'HCRDotum';
  font-size: 24px;
  width: 90%;
  margin: 30px auto;
}

.tap_container .tab_content.active {
  display: block;
}

/* 예약현황 확인란 */
.currentDate {
  font-family: 'HCRDotum';
}

.fa-clock {
  font-family: 'HCRDotum';
}

.resev_check {
  font-family: 'HCRDotum';
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 1280px) {
  #reserve label {
    font-size: 22px;
    width: 100%;
  }

  #reserve .line-add {
    width: 60vw;
  }


}

@media (max-width: 1080px) {
  #reserve .line-add {
    width: 70vw;
  }

  #reserve label {
    font-size: 18px;
    width: 100%;
  }

  .explain .tap li {
    font-size: 22px;
  }

  .explain .tap li svg {
    width: 30px;
    right: 5%;
  }

}

@media (max-width: 870px) {
  #reserve .section-title-container h2 {
    font-size: 36px;
  }

  .reservation-wrapper {
    flex-direction: column;
  }

  .reservation_block {
    width: 100%;
  }

  .exersise .rap {
    margin-right: 0;
    margin-bottom: 30px;
    width: 100%;
  }

  #reserve .line-add {
    width: 80vw;
  }

  #reserve label {
    width: 100%;
    font-size: 16px;
  }

  .explain .tap li {
    cursor: pointer;
    font-size: 18px;
  }

  .explain .tap li svg {
    width: 25px;
    right: 5%;
  }

  .section-title-container img {
    width: 30px;
}
}

@media (max-width: 500px) {
  #reserve .section-title-container h2 {
    font-size: 22px;
  }

  #reserve .line-add {
    width: 85vw;
  }

  #reserve label {
    font-size: 14px;
    white-space: nowrap;
  }

  #reserve .line-add.isGreen {
    width: 90vw;
  }

  .explain .tap li {
    cursor: pointer;
    font-size: 14px;
  }

  .explain .tap li svg {
    width: 20px;
    right: 5%;
  }

  .section-title-container img {
    width: 20px;
}
}